/* tasneem's task */
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

header img {
  border-radius: 50%;
  width: 4.5vw;
  margin: 15px 10px 20px 20px;
  float: left;
}

header h4 {
  display: inline;
  line-height: 5;
}

header .linkedIn {
  margin: 25px 40px 0px 0px;
}

header .linkedIn a {
  text-decoration: none;
  color: #505662;
  border: 0.5px solid rgba(201, 200, 200, 0.731);
  border-radius: 50%;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 1em;
  margin-top: 60px;
}

.main {
  margin: 0% 20% 0% 25%;
  width: 60vw;
}

h1 {
  font-size: 2.5rem;
  font-family: Inter, sans-serif;
}

.paragraph p {
  display: inline;
  margin-right: 10px;
  color: #92949a;
}

.main .add {
  display: inline;
}

.main .article {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: Lora, serif;
}

.main img {
  max-width: 60vw;
}

div.collection>svg,
div.collection>p {
  color: #014fe7;
}

div.collection {
  margin: 30px 0px;
}

@media (max-width: 768px) {
  .main .article {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    cursor: pointer;
  }

}