/* footer styles  */
footer {
    padding: 0px 40px;
}

footer .foot1 {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

footer .foot1 img {
    opacity: 0.6;
}

footer .foot1 p {
    color: #6e7687;
}

footer .foot1 a {
    text-decoration: none;
    color: #2e77ff;
    cursor: pointer;
}

footer .foot2 {
    display: flex;
    justify-content: space-around;
}

footer .foot2 .resources ul {
    display: flex;
    color: #505662;
    gap: 5px;
    padding: 0;
    flex-wrap: wrap;
}

footer .foot2 .resources ul li {
    list-style: none;
}

footer .foot2 .resources ul li a {
    color: #505662;
}

footer .foot2 .links ul {
    display: flex;
    gap: 30px;
    padding: 0;
}

footer .foot2 .links ul li {
    list-style: none;

}

.links li a {
    text-decoration: none;
    color: #6e7687;
    font-weight: bold;
}

.links li a:hover {
    color: #505662;
}

@media (max-width: 1050px) {
    footer .foot2 .resources {
        flex: 1;
    }
}

@media (max-width: 415px) {
    .foot1 a {
        display: block;
    }
}

@media (max-width:800px) {
    .foot2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        padding: 0;
    }

    .resources,
    .links {
        width: 100%;
    }

    footer .foot2 .links ul,
    footer .foot2 .resources ul {
        justify-content: center;
    }
}

.active {
    display: block;
}