/* tasneem's task */
/* just for testing you can remove it when you start working */
header {
    /*  height: 82vh; */
    background-color: #183d82;
}

.btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header>.btns>button {
    background-color: #183d82;
    color: white;
    border: 1px solid white;
    font-size: 1em;
    margin: 40px 10px 0px 0px;
    letter-spacing: 2px;
    font-style: 300px;
}

.linked-in {
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.5em !important;
    padding: 10px;
}

.contact {
    border-radius: 60px 60px;
    padding: 10px 15px;
}

header>.info {
    display: grid;
    place-items: center;
    align-items: center;
    color: white;
    margin-top: 8vh;
}

.profile-img>img {
    width: 10dvw;
    border-radius: 50%;
    border: 3px solid white;
}

header>.linked-in {
    width: min-content;
    align-self: flex-end;
}

header h1 {
    font-size: 4em;
    margin: 20px 0px 10px 0px;
}

header p {
    font-size: 1.5em;
    margin-bottom: 10em;
}

.container {
    display: grid;
    place-items: center;
}

/*
.main {
  display: grid;
  place-items: center;
  width: 75vw;
} */
.container ul {
    display: flex;
    /* gap: 1.2rem; */
    list-style: none;
    color: #6b6c6c;
    /* font-size: 1.5em; */
    letter-spacing: 1px;
}

nav {
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 878px) {}