/* tasneem's task */
/* just for testing you can remove it when you start working */
header {
  /*  height: 82vh; */
  background-color: #183d82;
  background: linear-gradient(
    90deg,
    rgba(0, 20, 92, 1) 3%,
    rgba(1, 1, 191, 1) 31%,
    rgb(0, 140, 255) 100%
  );
  position: relative;
}

.btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

header > .btns > button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: 1em;
  margin: 40px 10px 0px 0px;
  letter-spacing: 2px;
}
header > .btns > button:hover {
  background-color: #d1d8e6;
  color: black;
  cursor: pointer;
}

.linked-in {
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.5em !important;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: white;
}

.contact {
  border-radius: 60px 60px;
  padding: 10px 15px;
}

header > .info {
  display: grid;
  place-items: center;
  align-items: center;
  color: white;
  margin-top: 8vh;
}

.profile-img > img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid white;
}

header > .linked-in {
  width: min-content;
  align-self: flex-end;
}

header h1 {
  font-size: 4em;
  margin: 20px 0px 10px 0px;
}
header h1,
p:hover {
  cursor: pointer;
}

header p {
  font-size: 1.5em;
  margin-bottom: 4em;
}

.container {
  display: grid;
  place-items: center;
}

.container .nav-bar ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
}
.container .nav-bar ul li {
  white-space: nowrap;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
  color: #6b6c6c;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}
.container .nav-bar li:hover {
  color: cornflowerblue;
}

.container nav {
  background-color: white;
  display: flex;
  border-radius: 10px 10px 0px 0px;
}

.nav-bar input,
.contact-card input {
  background-color: #f4f4f6;
  border-radius: 20px;
  border-width: 0px;
  padding: 15px;
  margin-left: 10px;
}
.hidden {
  display: none;
}
.pop-up {
  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  backdrop-filter: blur(80px);
  font-size: 22px;
}
body > div.overlay > div > button {
  background-color: royalblue;
  align-self: self-end;
  border-radius: 50% 10%;
  border: 2px solid transparent;
  font-size: 30px;
  cursor: pointer;
}
.contact-card input {
  width: 70%;
  margin: 0px 20px 0px 0px;
  border-radius: 10px;
}
.contact-card button {
  background-color: #3957ff;
  color: white;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  border-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

.contact-card .close-pop-up {
  position: absolute;
  left: 82%;
  top: 0%;
  width: 40px;
  cursor: pointer;
}
.contact-card h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.contact-card {
  padding: 30px;
  width: 500px;
  align-items: self-start;
}

@media screen and (max-width: 878px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  header .container {
    order: -1;
  }
  header .btns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  header .btns button {
    margin: 0px 0px 25px 0px;
  }
  .container .nav-bar ul li {
    padding: 0px;
  }
  .container .nav-bar ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
