.Highlights,
.all-content {
    padding: 50px 200px;
    display: none;
}


.section-flex {
    display: flex;
    gap: 100px;
}

.section-flex .card {
    width: 50%;
    margin-bottom: 20px;
}

.section-flex .card-img {
    background-color: #f8f8f8;
    border-radius: 10px;
}

.section-flex .card img:not(.icon) {
    width: 100%;
    height: 190px;
    border-radius: 10px;
}

.Highlights .section-flex:first-child .card:first-child img {
    width: 40%;
    margin: 0px 30%;
}

.card p {
    color: var(--text-color);
    font-size: small;
    display: flex;
    align-items: center;
}

span {
    font-weight: 600;
}

.left {
    margin-right: 10px;
}

.Highlights .section-flex:first-child .card:first-child .left {
    background-color: #a937d7;
    padding: 5px;
    color: white;
    font-size: smaller;
}

.right {
    margin-left: 10px;
    cursor: pointer;
}

/* media queries  */
@media (max-width: 1200px) {

    .Highlights,
    .all-content {
        padding: 50px 50px;
    }
}

@media (max-width: 997px) {
    .section-flex {
        gap: 50px;
    }

    .Highlights,
    .all-content {
        padding: 50px 0px;
    }
}

@media (max-width: 850px) {
    p span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }
}

.card .hidden-p {
    display: none;
}

@media (max-width: 700px) {
    .section-flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .section-flex .card {
        width: 100%;
        margin-bottom: 50px;
    }

    .card p {
        display: block;
    }

    .card .hidden-p {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        color: black;
        font-size: medium;
    }
}

@media (max-width: 415px) {
    .card p {
        display: flex;
    }

    .card p span {
        flex: 1;
    }
}

/* footer styles  */
footer {
    padding: 0px 40px;
}

footer .foot1 {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

footer .foot1 img {
    opacity: 0.6;
}

footer .foot1 p {
    color: #6e7687;
}

footer .foot1 a {
    text-decoration: none;
    color: #2e77ff;
    cursor: pointer;
}

footer .foot2 {
    display: flex;
    justify-content: space-around;
}

footer .foot2 .resources ul {
    display: flex;
    color: #505662;
    gap: 5px;
    padding: 0;
    flex-wrap: wrap;
}

footer .foot2 .resources ul li {
    list-style: none;
}

footer .foot2 .resources ul li a {
    color: #505662;
}

footer .foot2 .links ul {
    display: flex;
    gap: 30px;
    padding: 0;
}

footer .foot2 .links ul li {
    list-style: none;

}

.links li a {
    text-decoration: none;
    color: #6e7687;
    font-weight: bold;
}

.links li a:hover {
    color: #505662;
}

@media (max-width: 1050px) {
    footer .foot2 .resources {
        flex: 1;
    }
}

@media (max-width: 415px) {
    .foot1 a {
        display: block;
    }
}

@media (max-width:800px) {
    .foot2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        padding: 0;
    }

    .resources,
    .links {
        width: 100%;
    }

    footer .foot2 .links ul,
    footer .foot2 .resources ul {
        justify-content: center;
    }
}

.active {
    display: block;
}
